#days {
    display: flex;
}

#search {
    float: left;
    background-color: lightslategray;
    border: black;
    
}

#current-conditions {
    float: right;
    margin: 20px;
    margin-right: 220px;
}

#five-day {
    float: right;
    margin-top: 50px;

}

.card {
    padding: 10px;
    margin: 10px;
    background-color: rgb(14, 180, 221);
    color: white;
}

#top-header {
    background-color: black;
    color: white;
}

#current-icon {
    visibility: hidden;
    height: 40px;
    width: 64px;
}

.forc-icon {
    visibility: hidden;
    height: 40px;
    width: 45px;
}